<h1>Mi carrito</h1>

{% for item in cart_items %}
    <div>
    <h3>{{ item.product.name }}</h3>
    <p>Precio: ${{ item.product.price }}</p>
    <p>Cantidad: {{ item.quantity }}</p>

    <form method="post" action="{% url 'cart_update' item.product.id %}">
        {% csrf_token %}
        <button name="action" value="decrease">−</button>
        <button name="action" value="increase">+</button>
    </form>

    <form method="post" action="{% url 'cart_remove' item.product.id %}">
        {% csrf_token %}
        <button>Eliminar</button>
    </form>
    </div>
{% empty %}
    <p>El carrito está vacío</p>
{% endfor %}
