# ======================
# Entorno virtual
# ======================
venv/
.env

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Django
# ======================
*.sqlite3
media/
staticfiles/

# ======================
# Migraciones (opcional)
# ======================
# **/migrations/
# !**/migrations/__init__.py

# ======================
# Logs
# ======================
*.log

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Sistema operativo
# ======================
.DS_Store
Thumbs.db
